*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.sass-cache
debug.log

# WordPress specific
uploads/
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*
advanced-cache.php
object-cache.php

# Disallow all plugins and themes
plugins/*
themes/*
mu-plugins/*

# Whitelist specific plugins
!plugins/fz-projects

# Whitelist specific theme(s)
!themes/fz-talk
